body {
  margin: 0;
  font-family: "Meiryo";
}

a {
  text-decoration: none;
}

/*.container{
  
}*/

header{
  position: fixed;
  z-index: 10;
}

.header{
  padding-right: 100px;
  padding-left: 0px;
  margin-left: 50px;
}


header{
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 128, 0.9);
}

.header-left{
  padding-top: 15px;
}

.logo{
  width: 124px;
  margin-top: 20px;
}


.container>.header-left{
  font-size: 26px;
}

.container>.header-left a{
  padding: 10px;
  padding-right: 40px;
  padding-left: 0px;
  color: white;

}

.container>.header-left>.logo{
  font-size: 30px;
  font-weight: bold;
}

footer img{
  width: 125px
}

footer p{
  color: #b3aeb5;
  font-size: 30px;
}

footer{
  padding-top: 15px;
  border-top: 1px solid #b3aeb5;
}

footer>.container>p>a{
  display: inline-block;
  float: right;
  font-size: 20px;
  margin-top: 5px;
}

#aspslide{
  margin-top: 80px;
}

.top-wrapper{
  margin-top: 80px;
  font-weight: bold;
  font-size: 30px;
}

.top-wrapper>p{
  font-size: 20px;
  padding-left: 50px;
  padding-top: 20px;
}

/*.main-body{
  text-align: center;
}*/

























