body {
  margin: 0;
  font-family: "Meiryo";
}

a {
  text-decoration: none;
}

/*.container{
  
}*/

header{
  position: fixed;
  z-index: 10;
}

.header{
  padding-right: 100px;
  padding-left: 0px;
  margin-left: 50px;
}


header{
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 128, 0.9);
}

.header-left{
  padding-top: 15px;
}

.logo{
  width: 124px;
  margin-top: 20px;
}


.container>.header-left{
  font-size: 26px;
}

.container>.header-left a{
  padding: 10px;
  padding-right: 40px;
  padding-left: 0px;
  color: white;

}

.container>.header-left>.logo{
  font-size: 30px;
  font-weight: bold;
}

footer img{
  width: 125px
}

footer p{
  color: #b3aeb5;
  font-size: 30px;
}

footer{
  padding-top: 15px;
  border-top: 1px solid #b3aeb5;
}

footer>.container>p>a{
  display: inline-block;
  float: right;
  font-size: 20px;
  margin-top: 5px;
}

#aspslide{
  margin-top: 80px;
}

.top-wrapper{
  margin-top: 80px;
  font-weight: bold;
  font-size: 30px;
}

.top-wrapper>p{
  font-size: 20px;
  padding-left: 50px;
  padding-top: 20px;
}

/*.main-body{
  text-align: center;
}*/

/************************************
** トグル表示ボタン
************************************/
.toggle-wrap .toggle-button {
  display: block;
  cursor: pointer;
  padding: 3px 10px;
  background-color: #fff;
  border: 1px solid #777;
  text-align: left;
  margin-bottom: 1em;
  border-radius: 3px;
}
 
.toggle-wrap .toggle-button:hover {
  border-color: red;
}
 
.toggle-wrap .toggle-content,
.toggle-wrap > input[type="checkbox"] {
  display: none;
}
 
.toggle-wrap > input[type="checkbox"]:checked ~ .toggle-content {
  display: block;
}

.toggle-wrap{
  text-align: left;
}

form>div{
  font-size: 20px;
}

.form-text{
  width: 30%;
  float: left;
}
.form-box{
  width: 70%;
  float: left;
  padding-bottom: 20px;
}

.h4-right{
  float: right;
}

.submit-button{
  float: right;
  margin-right: 30px;
}

.category{
  width: 520px;
  height: 30px;
  margin-top: 10px;
}

textarea{
  margin-top: 10px;
  outline: 0;
  border-radius: 25px;
}

.form-box>div>input{
  width: 515px;
}

.square_btn{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-color: #000080;
    
  
}

input:focus:invalid,
textarea:focus:invalid{
    border:solid 2px #F5192F;
}

input:focus:valid,
textarea:focus:valid{
    border:solid 2px #18E109;
    background-color:#fff;
}

:disabled {
  background-color: #b3aeb5;
  color: inherit;
  cursor: not-allowed;
}

input{
  outline: 0;
  border-radius: 25px;
  border-color: #a9a9a9;
}





































